
/* ============== Responsive design for mobile ============== */

@media only screen and (max-width: 429px) {
    
    /* This is structure of display */

    body {
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-areas: 
            "head"
            "bod"
            "foot";
    }

    body > header {
        grid-area: head;
    }

    body > section {
        grid-area: bod;
    }

    body > footer {
        grid-area: foot;
    }

    header {
        background: no-repeat;
        background-image: url(../../assets/images/bg-main-mobile.png);
    }
    
    /* This is credit-card display */

    .front__card {
        position: relative;
        top: 20vh;
        left: 6vw;
        color: white;
        z-index: 5;
    }

    .front__card > img {
        width: 75vw;
        height: 22vh;
    }

    .front__card > .logo__card {
        position: absolute;
        bottom: 10.5vh;
        left: 3.5vw;
    }

    .front__card > .logo__card > svg {
        width: 15vw;
        height: 10vh;
    }

    .front__card > .number__card,
    .front__card > .name__card,
    .front__card > .date__card {
        position: absolute;
        font-family: Space Grotesk;
    }


    .front__card > .number__card {
        bottom: 8vh;
        left: 8vw;
        word-spacing: 1.5vw;
        font-size: 5vw;
    }

    .front__card > .name__card {
        bottom: 3vh;
        left: 8vw;
        font-size: 3vw;
    }

    .front__card > .date__card {
        display: flex;
        flex-direction: row;
        bottom: 3vh;
        right: 33vw;
        font-size: 3vw;
    }

    .back__card {
        position: relative;
        bottom: 15.5vh;
        left: 19vw;
        color: white;
        z-index: 1;
    }

    .back__card > img {
        width: 75vw;
        height: 22vh;
    }

    .back__card > .cvc__card {
        position: absolute;
        bottom: 10.5vh;
        right: 35vw;
        font-family: Space Grotesk;
        font-size: 4vw;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    section > form {
        display: flex;
        flex-direction: column;
    }

    section > form > .form__name,
    section > form > .form__number,
    section > form > .form__bloc > .form__date,
    section > form > .form__bloc > .form__cvc,
    section > form > .form__confirm {
        font-family: Space Grotesk;
        font-weight: bolder;
        font-size: 4.5vw;
        text-transform: uppercase;
    }

    section > form > .form__name,
    section > form > .form__number {
        width: 90vw;
        margin: 2vh 0 0 7vw;
    }

    section > form > .form__name > input,
    section > form > .form__number > input {
        width: 83vw;
        height: 6vh;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 7px;
        padding-left: 3vw;
    }

    section > form > .form__name > input::placeholder,
    section > form > .form__number > input::placeholder {
        color: rgb(189, 189, 189);
        font-family: Space Grotesk;
        font-size: 5vw;
    }

    section > form > .form__bloc {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    section > form > .form__bloc > .form__date {
        width: 50vw;
        margin-top: 2vh;
    }

    section > form > .form__bloc > .form__cvc {
        width: 35vw;
        margin-top: 2vh;
        margin-left: -4vw;
    }

    section > form > .form__bloc > .form__date > input,
    section > form > .form__bloc > .form__cvc > input {
        border: 1px solid rgb(189, 189, 189);
        border-radius: 7px;
        margin-top: 1vh;
        padding-left: 3vw;
    }

    section > form > .form__bloc > .form__date > input {
        width: 20vw;
        height: 6vh;
    }

    section > form > .form__bloc > .form__cvc > input {
        width: 31vw;
        height: 6vh;
    }

    section > form > .form__bloc > .form__date > input::placeholder,
    section > form > .form__bloc > .form__cvc > input::placeholder {
        color: rgb(189, 189, 189);
        font-family: Space Grotesk;
        font-size: 5vw;
    }

    section > form > .form__confirm > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 88vw;
        height: 7vh;
        border: none;
        border-radius: 7px;
        font-family: Space Grotesk;
        font-size: 5.5vw;
        color: white;
        background-color: rgb(34,8,48);
        margin: 3vh auto 0 auto;
    }

    section > .confirm__bloc {
        display: none;
        flex-direction: column;
        width: 100vw;
        height: 75vh;
    }

    section > .confirm__bloc > svg {
        margin: 0 auto 5vh auto;
    }

    section > .confirm__bloc > h2 {
        font-family: Space Grotesk;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 10vw;
        margin: 0 auto 5vh auto;
    }

    section > .confirm__bloc > span {
        font-family: Space Grotesk;
        font-weight: bolder;
        font-size: 5vw;
        color: rgb(118, 118, 118);
        margin: 0 auto 5vh auto;
    }

    section > .confirm__bloc > button {
        width: 88vw;
        height: 7vh;
        margin: 1vh auto 0 auto;
        border: none;
        border-radius: 7px;
        font-family: Space Grotesk;
        font-size: 5.5vw;
        color: white;
        background-color: rgb(34,8,48);
    }

    footer {
        margin-top: 3vh;
    }

    .attribution {
        font-family: Space Grotesk;
        font-size: 4vw;
        text-align: center;
    }
    
    .attribution a {
        text-decoration: none;
        color: rgb(36, 160, 36);
    }
}

/* ============== Responsive design for desktop ============== */

@media only screen and (min-width: 430px) { 

    /* This is structure of display */

    body {
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-areas: 
            "head bod"
            "head bod"
            "head foot";
    }

    body > header {
        grid-area: head;
    }

    body > section {
        grid-area: bod;
    }

    body > footer {
        grid-area: foot;
    }

    header {
        background: no-repeat;
        background-image: url(../../assets/images/bg-main-desktop.png);
    }

    .front__card {
        position: relative;
        top: 25vh;
        left: 8vw;
        color: white;
        z-index: 5;
    }

    .front__card > img {
        width: 23vw;
        height: 25vh;
    }

    .front__card > .logo__card {
        position: absolute;
        bottom: 15vh;
        left: .5vw;
    }

    .front__card > .logo__card > svg {
        width: 5vw;
        height: 8vh;
    }

    .front__card > .number__card,
    .front__card > .name__card,
    .front__card > .date__card {
        position: absolute;
        font-family: Space Grotesk;
    }


    .front__card > .number__card {
        bottom: 8vh;
        left: 2vw;
        width: 100vw;
        word-spacing: 1vw;
        font-size: 1.4vw;
    }

    .front__card > .name__card {
        bottom: 3vh;
        left: 2vw;
        font-size: 1vw;
    }

    .front__card > .date__card {
        bottom: 3vh;
        left: 17.3vw;
        font-size: 1vw;
    }

    .back__card {
        position: relative;
        top: 28vh;
        left: 11vw;
        color: white;
        z-index: 1;
    }

    .back__card > img {
        width: 23vw;
        height: 25vh;
    }

    .back__card > .cvv__card {
        position: absolute;
        bottom: 11.7vh;
        right: 3vw;
        font-family: Space Grotesk;
        font-size: 1.2vw;
    }
 
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 77vw;
        height: 95vh;
    }

    section > form {
        width: 30vw;
        height: 58vh;
        border: 1px solid #000;
    }

    section > form > .form__name,
    section > form > .form__number,
    section > form > .form__bloc > .form__date,
    section > form > .form__bloc > .form__cvc,
    section > form > .form__confirm {
        display: flex;
        flex-direction: column;
        font-family: Space Grotesk;
        font-weight: bolder;
        font-size: 1.3vw;
        text-transform: uppercase;
    }

    section > form > .form__name,
    section > form > .form__number {
        width: 30vw;
        margin-bottom: 3vh;
    }

    section > form > .form__name > input,
    section > form > .form__number > input {
        width: 28.5vw;
        height: 7vh;
        border: 1px solid rgb(156, 156, 156);
        border-radius: 7px;
        padding-left: 1vw;
        margin-top: 1vh;
    }

    section > form > .form__name > input::placeholder,
    section > form > .form__number > input::placeholder {
        color: rgb(156, 156, 156);
        font-family: Space Grotesk;
        font-size: 1.1vw;
    }

    section > form > .form__bloc {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    section > form > .form__bloc > .form__date {
        width: 15vw;
        border: 1px solid rgb(69, 255, 28);
    }

    section > form > .form__bloc > .form__cvc {
        flex: 0;
        border: 1px solid rgb(255, 6, 6);
    }

    section > form > .form__bloc > .form__date > input,
    section > form > .form__bloc > .form__cvc > input {
        border: 1px solid rgb(156, 156, 156);
        border-radius: 7px;
        margin-top: 1vh;
        padding-left: 1vw;
    }

    section > form > .form__bloc > .form__date > input {
        width: 5vw;
        height: 7vh;
        border: 1px solid #000;
    }

    section > form > .form__bloc > .form__cvc > input {
        height: 7vh;
    }

    section > form > .form__bloc > .form__date > input::placeholder,
    section > form > .form__bloc > .form__cvc > input::placeholder {
        color: rgb(156, 156, 156);
        font-family: Space Grotesk;
        font-size: 1.1vw;
    }

    section > form > .form__confirm > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 7vh;
        border: none;
        border-radius: 7px;
        font-family: Space Grotesk;
        font-size: 1.5vw;
        color: white;
        background-color: rgb(34,8,48);
        margin: 4vh auto 0 auto;
    }

    section > .confirm__bloc {
        display: none;
        flex-direction: column;
        width: 100vw;
        height: 75vh;
    }

    section > .confirm__bloc > svg {
        margin: 0 auto 5vh auto;
    }

    section > .confirm__bloc > h2 {
        font-family: Space Grotesk;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 10vw;
        margin: 0 auto 5vh auto;
    }

    section > .confirm__bloc > span {
        font-family: Space Grotesk;
        font-weight: bolder;
        font-size: 5vw;
        color: rgb(118, 118, 118);
        margin: 0 auto 5vh auto;
    }

    section > .confirm__bloc > button {
        width: 88vw;
        height: 7vh;
        margin: 1vh auto 0 auto;
        border: none;
        border-radius: 7px;
        font-family: Space Grotesk;
        font-size: 5.5vw;
        color: white;
        background-color: rgb(34,8,48);
    }

    footer {
        width: 77vw;
        height: 5vh;
    }

    .attribution {
        font-family: Space Grotesk;
        font-size: 1.2vw;
        text-align: center;
    }
    
    .attribution a {
        text-decoration: none;
        color: rgb(36, 160, 36);
    }
}